@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #76b900;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #76b900;
  }  
  body {
    font-family: var(--font-poppins), sans-serif;
    overflow-x: hidden;
    background-color: #0a0a0a;
  }
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes float-reverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.floating {
  animation: float 6s ease-in-out infinite;
}
.floating-reverse {
  animation: float-reverse 6s ease-in-out infinite;
}
.z_class{
  z-index: 1000000000 !important;
}